/*main header right side*/
.header__options {
    display: flex;
    justify-content: space-evenly;
    height: 58px!important;
    width: 700px!important;
}

/*links in the header*/
.text-infos {
    margin: auto;
    color: #fff !important;
    text-decoration: none !important;
    width: 100px;
}

/*link at the last spot*/
.text-infos2 {
    margin: auto;
    color: #fff !important;
    text-decoration: none !important;
    width: 70px;
}

    /*link at the last spot*/
    .text-infos2:hover {
        color: gold !important;
    }

/*link at the last spot*/
.text-infos3 {
    margin: auto;
    color: #fff !important;
    text-decoration: none !important;
    width: 73px!important;
}

    /*link at the last spot*/
    .text-infos3:hover {
        color: gold !important;
    }

/*hover effect*/
.text-infos:hover {
    color: gold !important;
}

.basket-icon {
    color: #fff;
    background-color: #fff;
}

.header__optionsLineOne {
    color: #808080;
    font-size: 11px;
}

.header__optionsLineTwo {
    font-size: 23px;
}

.search__field {
    border: none;
    margin:auto;
    height: 47px!important;
}

.search__button {
    /*margin-top: -1px;*/
    height: 47px;
    width: 60px;
}


@media only screen and (max-width: 900px) {
    .search__field {
        width:290px!important;
    }

    .header__options {
        display: flex;
        justify-content: space-evenly;
        height: 58px;
        width: 387px!important;
    }
}